@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.loading-text {
  font-size: 50px;
  color: #fff;
}

#overlay  {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85); /* Black background with opacity */
  z-index: 1;
}

.bg {
  background: url('Images/krists-luhaers-EI50hwMVp28-unsplash.jpg') no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

